/* Main */

#mainContato section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContato .telaContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 90%;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#mainContato .telaContato>h2 {
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bolder;
    margin-top: 30px;
    border: #000;
}

#mainContato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#mainContato #idContatoFormulario{
    width: 95%;
    display: flex;
    gap: 1rem;
}

#mainContato .formulario{
    width: 100%;
}

#mainContato .campo-form{
    width: 100%;
    margin-bottom: 1rem;
}

#mainContato .campo-form:last-child{
    margin-bottom: -2px;
}

#mainContato input{
    width: 100%;
    height: 30px;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 9px;
    font-family: var(--font2);
}

#mainContato textarea{
    width: 100%;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 9px;
    padding-top: 5px;
    margin-top: 15px;
}

#mainContato .telaContato>a {
    text-transform: uppercase;
    font-family: var(--font2);
    font-size: 13px;
    color: #9F2FBB;
    padding: 5px 50px;
    border-radius: 25px;
    border: 4px solid #9F2FBB;
    margin-bottom: 30px;
}

#mainContato .cardContato {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

#mainContato .mensagemContato {
    background-color: white;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#mainContato .mensagemContato>p {
    width: 95%;
    margin-top: 40px;
    font-family: var(--font2);
    font-size: 15px;
}

#mainContato .contatos {
    font-family: var(--font2);
    font-size: 15px;
    width: 80%;
    margin-bottom: 15px;
    margin-left: -25px;

}

#mainContato .email {
    justify-content: flex-start;

}

#mainContato .email>img {
    width: 27px;
    height: 19px;
    background-color: #000;
    color: forestgreen;
    margin-right: 15px;
}

#mainContato .whats {
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}

#mainContato .whats>img {
    width: 22px;
    height: 20px;
    background-color: #000;
    margin-right: 19px;
}

#mainContato button{
    border: 4px solid var(--roxo);
    color: var(--roxo);
    background-color:white;
    border-radius: 15px;
    padding: 1px 30px;
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: .35s;
    margin: 30px 0;
}

#mainContato button:hover,
#mainContato button:hover
{
    transform: scale(1.07);
    background-color: var(--roxo);
    color: white;
}

/* Responsividade da página */


@media screen and (max-width: 1506px) {
    #mainContato .mensagemContato>p {
        font-size: 14px;
    }

    #mainContato .contatos {
        font-size: 14px;
    }
}

@media screen and (max-width: 1348px) {
    #mainContato .telaContato {
        width: 65%;
    }
}

@media screen and (max-width: 1140px) {
    #mainContato .telaContato {
        width: 70%;
    }
}

@media screen and (max-width: 1058px) {
    #mainContato .telaContato {
        width: 75%;
    }
}

@media screen and (max-width: 988px) {
    #mainContato .telaContato {
        width: 80%;
    }
}

@media screen and (max-width: 926px) {
    #mainContato .telaContato {
        width: 85%;
    }
}


@media screen and (max-width: 872px) {
    #mainContato .telaContato {
        width: 90%;
        margin: 35px 0;
    }

    #mainContato .telaContato>h2 {
        padding: 30px 0 20px 0;
        margin: 0;
    }



    #mainContato .mensagemContato {
        height: 100%;
        width: 100%;
    }

    #mainContato .telaContato>a {
        margin: 20px 0;
    }
}

@media screen and (max-width: 680px) {
    
    #mainContato #idContatoFormulario {
        flex-direction: column-reverse
    }

    #mainContato .mensagemContato {
        width: 90%;
        margin-bottom: 60px;
    }

    #mainContato .formulario {
        width: 90%;
    }

    #mainContato #idContatoFormulario{
        gap: 0;
    }

    #mainContato #idContatoFormulario{
        gap: 0;
    }

    
}

@media screen and (max-width: 400px) {
  

    #mainContato .mensagemContato>p {
        width: 225px;
        align-self: flex-start;
        margin-left: 20px;
    }

    #mainContato .adress>p:nth-child(2) {
        width: 212px;

    }

    #mainContato #idContatoFormulario {
        width: 90%;
    }
}